*.pyc
__pycache__/
*.pyo
db.sqlite3
.env
venv/
env/
ENV/
.DS_Store
*.jpg
*.jpeg
*.png
!docs/*.png
!docs/figma/*.png
media/
staticfiles/
*.log
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
desktop.ini
.venv/
.vscode/
*.whl
server_stdout.txt
server_stderr.txt