*.pyc
__pycache__/
*.pyo
db.sqlite3
.env
venv/
env/
.DS_Store
*.jpg
*.jpeg
*.png
!docs/*.png
!docs/figma/*.png
media/
staticfiles/
*.log
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
desktop.ini

docs/*.md
