*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#eef8ff;
}

.login-container{
width:100%;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#d9d8b4,#d9d8b4,#d9d8b4);
}

.login-card{

width:430px;

background:white;

padding:40px;

border-radius:20px;

box-shadow:0px 15px 40px rgba(0,0,0,.20);

text-align:center;

}

.logo-section{

margin-bottom:30px;

}

.college-logo{

width:100px;

height:100px;

object-fit:contain;

margin-bottom:15px;

}

.logo-section h1{

font-size:28px;

color:#0277bd;

margin-bottom:8px;

}

.logo-section h3{

font-size:16px;

color:#0288d1;

font-weight:500;

margin-bottom:8px;

}

.logo-section p{

color:#666;

font-size:15px;

}

.input-box{

position:relative;

margin-bottom:20px;

}

.icon{

position:absolute;

top:17px;

left:15px;

color:#03a9f4;

}

.input-box input{

width:100%;

padding:15px 15px 15px 45px;

border:1px solid #b3e5fc;

border-radius:10px;

outline:none;

font-size:15px;

transition:.3s;

}

.input-box input:focus{

border:2px solid #03a9f4;

}

.options{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

font-size:14px;

}

.options a{

text-decoration:none;

color:#0288d1;

}

.login-btn{

width:100%;

padding:15px;

border:none;

border-radius:10px;

background:linear-gradient(90deg,#29b6f6,#0288d1);

color:white;

font-size:17px;

cursor:pointer;

transition:.3s;

}

.login-btn:hover{

transform:translateY(-2px);

background:linear-gradient(90deg,#60bef1,#2c6795);

}

.register{

margin-top:25px;

font-size:15px;

}

.register a{

text-decoration:none;

font-weight:bold;

color:#2c6795;

}

@media(max-width:500px){

.login-card{

width:90%;

padding:25px;

}

.logo-section h1{

font-size:22px;

}

.logo-section h3{

font-size:14px;

}

}

